@keyframes opacity {
  from {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    font-size: 0px;
  }
  to {
    opacity: 1;
    font-size: inherit;
  }
}

@keyframes bars {
  from {
    opacity: 1;
    width: 0px;
    border: 2px solid; 
  }
  90% {
    opacity: 1;
    border: 2px solid; 
  }
  to {
    opacity: 0;
    border: 0px solid; 
    width: 350px;
  }
}

.animated-mb-winner-text {
  animation: 4s 1 ease-in-out opacity;
  transform: translateY(0%);
}

.animated-truck-winner-text {
  animation: 10s 1 ease-in-out opacity;
  transform: translateY(0%);
}

@keyframes l6 {
  100% {inset:0}
}

.loader-mb-winner {
  position: absolute;
  width: 0px;
  height: 22px;
  border-radius: 20px;
  color: rgba(48, 252, 252, 1);
  border:none;
  position: relative;
}

.loader-mb-winner::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 1s 4, bars 1.5s 2;
}

.loader-truck-winner {
  position: absolute;
  width: 0px;
  height: 22px;
  border-radius: 20px;
  color: rgba(48, 252, 252, 1);
  border:none;
  position: relative;
}

.loader-truck-winner::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 1s 10, bars 1.5s 6;
}
