@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes animated-button {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

.pop-in{ 
  /* .a-text { */
      animation: 1s 1 ease-in animated-button ;
      transform: translateY(0%);
  /* } */
}